header
	height: auto
	

#topo
	background-color: alpha(black, 80%)

.navegacao
	border-top 1px solid $colors['oceano']

#desk-nav
	color: white
	display flex
	justify-content: space-between
	padding: 0
	margin: 0 
	li 
		list-style: none
		font-weight: 100
		font-size: 12px
		margin: 20px 5px