header
	height: auto
	

#topo
	background-color: alpha(black, 80%)
	z-index: 9999999
	width 100%
	top 0
	&.coaches
		background-color: alpha($colors['verde-es'], 80%)
		text-align: right;

.logo-container
	padding: 15px 0

#topo.redu
	background-color:alpha(black, 95%);
#topo.c-reduz
	background-color:alpha($colors['verde-es'], 100%);


footer
	@extend .text-inverse
	p 
		@extend .light

#loader
	width: 100%
	height 100%
	z-index: 99999999
	display: flex
	position: fixed
	background-color: alpha($colors['oceano'], 1 );
	justify-content: center
	img 
		align-self: center
	

.loader-img
	height 90px

.redes-sociais-topo
	display: flex
	justify-content flex-end
	img 
		width 30px
		padding-left: 10px

.icones-topo
	p
		margin 0
		font-weight: lighter

.menu
	width:40px; 
	position: absolute; 
	right: 0;  
	display:inline

@media screen and (max-width: 900px)
	.icones-topo
		display: none

@media screen and (max-width: 800px)
	.redes-sociais-topo
		justify-content center

@media screen and (max-width: 600px)
	.menu
		width:40px; 
		position: absolute; 
		right: 0;  
		display:inline
	.redes-sociais-topo
		justify-content center