extends ./_layouts/es-coaches.pug

block append CSS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
    link(rel="stylesheet", href="css/style.css")
    

block content
    section#banner-principal(style="background-image: url(img/background-couches.png)")
        .container
            .row
                .col-sm-12.banners.depoimento-topo
                    h3.bold.tituto-coach.text-amarelo Um time de profissionais
                    p.light.text-inverse Conheça o time de coachs da Experiência de Sucesso e descubra <br>
                                        | o que é necessário para evoluir e alcançar resultados ainda <br>
                                        | maiores em qualquer área da sua vida pessoal e profissional.



    section#depoimentos-wrapper.section.bg-coaches(style="background-image: url(img/bg-fundo-coaches.jpg)")
        .container
            .row
                .col-lg-10.col-lg-offset-1
                    .row.palestrante-w#cecilia
                        .col-md-4
                            .palestrante-img
                                img.img-responsive.center-block(src="https://s3-sa-east-1.amazonaws.com/happybiz-web/Experiencia-De-Sucesso/novo-site/coaching/cecilia.png", alt="Cecilia")
                        .col-md-8.palestrante-w  
                            .palestrante-texto.couch-text
                                h5.nome-palestrantes.text-verde-es.bold Cecilia Teixeira
                                .line-couch
                                p.light Master PNL e Trainer , especialista em Mental Coach e Desenvolvimento de Novos Negócios. Trabalha com Desenvolvimento Pessoal 
                                        |voltado a Neurociências. Formada no programa Quantum Leap e mestranda em NeuroMarketing

                                hr
                    .row.palestrante-w#marcio
                        .col-md-4.col-md-push-8
                            .palestrante-img
                                img.img-responsive.center-block(src="https://s3-sa-east-1.amazonaws.com/happybiz-web/Experiencia-De-Sucesso/novo-site/coaching/marcio.png", alt="Marcio")
                                
                        .col-md-8.col-md-pull-4  
                            .palestrante-texto.couch-text
                                h5.nome-palestrantes.text-verde-es.bold.couch-left MÁRCIO JOSE GENARO
                                .row
                                    .col-sm-12
                                        .line-couch.float-right
                                p.light.couch-left Cirurgião dentista especialista em ortodontia, atua no mercado odontológico à mais de 19 anos. Formado em Business and Executive 
                                        |Coach e Master Coach pelo IBC.
                                hr
                    .row.palestrante-w#inessa
                        .col-md-4
                            .palestrante-img
                                img.img-responsive.center-block(src="https://s3-sa-east-1.amazonaws.com/happybiz-web/Experiencia-De-Sucesso/novo-site/coaching/inessa.png", alt="Inessa")
                        .col-md-8.palestrante-w  
                            .palestrante-texto.couch-text
                                h5.nome-palestrantes.text-verde-es.bold Inessa Franco
                                .line-couch
                                p.light Master Coach de Inteligência Emocional, headtrainer, autora do Treinamento Power Self, da Formação de Coaching Integral; do E-book 
                                        |“Desperte Seu Poder”,  do Programa em áudio “Direcione Seu Dia: 7 Etapas para um dia produtivo e feliz”, do programa de Coaching em 
                                        |Grupo Master Self ON TOP e co-autora do livro “O Segredo do Sucesso Pessoal”.

                                hr
                    .row.palestrante-w#rafael
                        .col-md-4.col-md-push-8
                            .palestrante-img
                                img.img-responsive.center-block(src="https://s3-sa-east-1.amazonaws.com/happybiz-web/Experiencia-De-Sucesso/novo-site/coaching/rafael.png", alt="Rafael")
                                hr
                        .col-md-8.col-md-pull-4  
                            .palestrante-texto.couch-text
                                h5.nome-palestrantes.text-verde-es.bold.couch-left Rafael Cisne Vasconcelos
                                .row
                                    .col-sm-12
                                        .line-couch.float-right
                                p.light.couch-left Administrador de empresas, consultor financeiro, coach pela SBC, palestrante, gestor de investimentos (aprox. R$ 2,1 bi), 
                                        |LeaderTrainning, MBA em mercado financeiro, certificação Anbima profissional de investimentos (CPA20).
                    .row.palestrante-w#ricardo
                        .col-md-4
                            .palestrante-img
                                img.img-responsive.center-block(src="https://s3-sa-east-1.amazonaws.com/happybiz-web/Experiencia-De-Sucesso/novo-site/coaching/ricardo.png", alt="Ricardo")
                        .col-md-8.palestrante-w  
                            .palestrante-texto.couch-text
                                h5.nome-palestrantes.text-verde-es.bold Ricardo F. Alexandre
                                .line-couch
                                p.light Coach e Treinador. Mentorado por Danile Granato em seu Projeto Doutora Escola que ajuda profissionais da Saúde a trabalharem em 
                                        |parceria com os profissionais da Educação. Sua missão é transformar a Educação no Brasil para resgatar o brilho de cada criança 
                                        |e sua família. Também é músico (toca clarinete) e imensamente grato pelas oportunidades da vida. Alavanca e encoraja a história 
                                        |de pessoas por meio de treinamentos de desenvolvimento pessoal e financeiro, atualmente com grande alcance de pessoas evangélicas.

                                hr
                    .row.palestrante-w#alan
                        .col-md-4.col-md-push-8
                            .palestrante-img
                                img.img-responsive.center-block(src="https://s3-sa-east-1.amazonaws.com/happybiz-web/Experiencia-De-Sucesso/novo-site/coaching/Alan.png", alt="Alan")
                                
                        .col-md-8.col-md-pull-4  
                            .palestrante-texto.couch-text
                                h5.nome-palestrantes.text-verde-es.bold.couch-left Alan Martins
                                .row
                                    .col-sm-12
                                        .line-couch.float-right
                                p.light.couch-left Brasileiro, 31 anos, Neurocoach e Palestrante especialista em PNL (Programacão Neurolinguistica), desenvolve equipes de alta 
                                        |performance através da alteração de mentalidade, Inteligência Emocional, Foco e Comunicação Efetiva utilizando o método ICoach 
                                        |(Aprendizagem acelerada). Formado com os melhores profissionais de Desenvolvimento Pessoal do Mundo como Tony Robbins, T.Harv Eker 
                                        |(Os Segredos da Mente Milionária), Jordan Belfort (O Lobo de Wall Street) e Blair Singer (considerado o melhor treinador do mundo).
                                hr
   



block append scriptsJS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js", type="text/javascript")
    script(src="js/app.coaches.js")