extends ./_layouts/es.pug

block append CSS
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css")
    link(rel="stylesheet", href="css/style.css")
    

block content
    section#banner-principal(style="background-image: url(img/background-couches.png)")
        .container
            .row
                .col-sm-12.banners.depoimento-topo
                    h3.bold.titulo-topo.text-amarelo Um time de profissionais
                    p.light.text-inverse Conheça o time de coachs da Experiência de Sucesso e descubra <br>
                                        | o que é necessário para evoluir e alcançar resultados ainda <br>
                                        | maiores em qualquer área da sua vida pessoal e profissional.



    section#depoimentos-wrapper.section
        .container
            .row.palestrante-w
                .col-sm-4
                    .palestrante-img
                        img.img-responsive.center-block(src="https://s3-sa-east-1.amazonaws.com/happybiz-web/Experiencia-De-Sucesso/novo-site/palestrantes/nick.png", alt="Nick")
                .col-sm-8.palestrante-w  
                    .palestrante-texto
                        h5.nome-palestrantes.text-oceano Nick Vujicic
                        p.light Sem qualquer explicação médica, Nick Vujicic nasceu sem braços
                                | e pernas. Nick teve que aprender a realizar tarefas como escovar
                                | os dentes, pentear o cabelo, digitação, esportes e superar desafios pessoais, como por exemplo: ser intimidado na escola e a depressão. Agora, casado e pai, ele desafia os outros a rever suas perspectivas
                                | e olhar além de suas circunstâncias para encarar os obstáculos como oportunidades de crescimento.
                        hr
            .row.palestrante-w
                .col-md-4.col-sm-push-8
                    .palestrante-img
                        img.img-responsive.center-block(src="https://s3-sa-east-1.amazonaws.com/happybiz-web/Experiencia-De-Sucesso/novo-site/palestrantes/anthony.png", alt="Anthony")
                        hr
                .col-md-8.col-sm-pull-4  
                    .palestrante-texto
                        h5.nome-palestrantes.text-oceano Anthony Robbins
                        p.light Nas últimas três décadas, Anthony Robbins 
                                |tem servido como consultor de líderes em todo o mundo. Uma autoridade reconhecida sobre a 
                                |psicologia da liderança, negociação e reviravolta organizacional. Robbins tem impactado diretamente 
                                |a vida de mais de 50 milhões de pessoas em mais de 100 países, atrações de seus best-sellers, palestras 
                                |públicas e eventos ao vivo.


   



block append scriptsJS
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js", type="text/javascript")
    script(src="js/app.js")